<div class="change-password-container">
  <h2>Change Password</h2>

  <table class="form-table">
    <tr>
      <td><label for="oldPassword">Current Password:</label></td>
      <td><input type="password" id="oldPassword" [(ngModel)]="oldPassword"/></td>
    </tr>

    <tr>
      <td><label for="newPassword">New Password:</label></td>
      <td><input type="password" id="newPassword" [(ngModel)]="newPassword"/></td>
    </tr>

    <tr>
      <td><label for="confirmPassword">Confirm Password:</label></td>
      <td><input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" /></td>
    </tr>

    <tr>
      <td colspan="2" class="btn-row">
        <button type="button" (click)="onChangePassword()">Change Password</button>
      </td>
    </tr>
  </table>
</div>
