<div class="register-wrapper">
  <div class="register-card">
    <h2>Create Account</h2>
    <p class="subtitle">Fill in the details to register</p>

    <form (ngSubmit)="onRegister()" class="form">
      <div class="form-group">
        <input type="text" [(ngModel)]="registerObj.name" name="name" placeholder="Full Name" required />
      </div>

      <div class="form-group">
        <input type="email" [(ngModel)]="registerObj.email" name="email" placeholder="Email" required />
      </div>

      <div class="form-group">
        <input type="password" [(ngModel)]="registerObj.passwordHash" name="passwordHash" placeholder="Password" required />
      </div>

      <div class="form-group">
        <input type="text" [(ngModel)]="registerObj.phone" name="phone" placeholder="Phone" />
      </div>

      <div class="form-group">
        <select [(ngModel)]="registerObj.roleId" name="roleId" required>
          <option value="" disabled selected>Select Role</option>
          <option *ngFor="let role of roles" [value]="role.roleId">{{ role.roleName }}</option>

        </select>
      </div>

      <button type="submit" class="btn-register">Register</button>
    </form>
  </div>
</div>
